<div class="">
  <app-historial></app-historial>

  <div class="flex max-h-screen flex-col sm:h-full h-screen sm:flex-row md:ml-56">
    <app-chat #id_1 [content]="message" [chat]="chat_1_id" class="h-1/2 w-full"></app-chat>
    <!-- Separador vertical que ocupe como mínimo el tamaño de la pantalla y que siga del tamaño de la conversación -->
    <div class="sm:flex-grow sm:border-r-2 sm:border-gray-200"></div>
    <app-chat #id_2 [content]="message" [chat]="chat_2_id" class="h-1/2 w-full"></app-chat>
  </div>
  <div class="border-2 sm:fixed bottom-0 left-0 right-0 border-gray-200 md:ml-60 m-4 mb-2 rounded-lg">
    <app-chat-input (dataChange)="onReciveMessage($event)"></app-chat-input>
  </div>
</div>
