<nav
  class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200"
>
  <div
    class="md:ml-60 mr-2 flex flex-wrap items-center justify-between mx-auto py-2"
  >
    <div class="flex md:order-2 rtl:space-x-reverse">
      <button
        type="button"
        class="text-gray-900 hover:text-red-600 font-medium rounded-lg text-sm px-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
      </button>
      <button
        type="button"
        class="text-gray-900 hover:text-green-600 font-medium rounded-lg text-sm px-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <form>
        <select
          id="modelos"
          class="bg-gray-50 border w-64 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-1.5"
        >
          <option selected>Elige un modelo</option>
          <option value="You">You</option>
          <option value="AiChatOnline">AiChatOnline</option>
          <option value="ChatgptNext">ChatgptNext</option>
          <option value="GptGo">GptGo</option>
          <option value="Koala">Koala</option>
          <option value="Llama2">Llama2</option>
          <option value="OnlineGpt">OnlineGpt</option>
        </select>
      </form>
    </div>
  </div>
</nav>
