<div class="snap-y snap-mandatory h-screen overflow-y-scroll">
  <section class="bg-white dark:bg-gray-900 max-h-screen snap-center">
    <div
      class="grid my-48 max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
    >
      <div class="mr-auto place-self-center lg:col-span-7">
        <h1
          class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
        >
          Choose, connect, learn
        </h1>
        <p
          class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
        >
          Discover a world of infinite and personalized knowledge. Connect with 
          multiple artificial intelligences to get answers beyond your expectations! 
          Your curiosity guides the experience, explore and learn like never before!
        </p>
        <a
          href="/login"
          class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-teal-700 hover:bg-teal-600 focus:ring-4 focus:ring-teal-500 dark:focus:ring-primary-900"
        >
          Get started
          <svg
            class="w-5 h-5 ml-2 -mr-1"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
        <img
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png"
          alt="mockup"
        />
      </div>
    </div>
  </section>

  <section class="bg-white dark:bg-gray-900 max-h-screen snap-center">
    <div class="py-8 px-4 my-48 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Embark on QuireQuest
        </h2>
        <p class="text-gray-500 sm:text-xl dark:text-gray-400">
          Your window to instant answers with informed choice. 
          Customize your unique journey to knowledge.
        </p>
      </div>
      <app-description></app-description>
    </div>
  </section>

  <section class="bg-white dark:bg-gray-900 snap-always snap-center">
    <div class="py-8 px-4 my-10 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Discover tailored experiences with our subscription plans
        </h2>
        <p class="mb-5 font-light text-gray-500 sm:text-xl dark:text-gray-400">
          Explore knowledge on your terms with our subscription plans, offering options from 
          essential to business experiences. Find the perfect plan for your unique journey.
        </p>
      </div>
      <app-pricing-card></app-pricing-card>
    </div>
  </section>
</div>
