<div class="shadow-polo-blue-950 shadow-2xl sm:mb-20 sm:max-w-screen-2xl sm:mx-auto w-full px-6 py-12 bg-white bg-opacity-60">
  <div class="text-center mb-8">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-polo-blue-950">
      Descubre experiencias personalizadas con nuestros planes de suscripción.
    </h2>
    <p class="mb-5 font-light text-gray-500 sm:text-xl">
      Explora conocimientos a tu manera con nuestros planes de suscripción, que
      ofrecen opciones desde experiencias esenciales hasta empresariales.
      Encuentra el plan perfecto para tu viaje único.
    </p>
  </div>
  <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
    <!-- Pricing Card -->
    <div
      class="flex flex-col justify-between flex-grow p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow xl:p-8"
    >
      <h3 class="mb-4 text-2xl text-polo-blue-950 font-semibold">Starter</h3>
      <p class="font-light text-gray-500 sm:text-lg">
        Acceso esencial a diversas áreas, elige una inteligencia artificial principal cada mes.
      </p>
      <div class="flex justify-center items-baseline my-8">
        <span class="mr-2 text-5xl text-polo-blue-950 font-extrabold"
          >13,95€</span
        >
        <span class="text-polo-blue-800">/mes</span>
      </div>
      <!-- List -->
      <ul role="list" class="mb-8 space-y-4 text-left">
        <li class="flex items-center space-x-3">
          <!-- Icon -->
          <svg
            class="flex-shrink-0 w-5 h-5 text-polo-blue-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span>Acceso a nuestras inteligencias artificiales especializadas.</span>
        </li>
        <li class="flex items-center space-x-3">
          <!-- Icon -->
          <svg
            class="flex-shrink-0 w-5 h-5 text-polo-blue-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span>Explora una amplia gama de conocimientos.</span>
        </li>
        <li class="flex items-center space-x-3">
          <!-- Icon -->
          <svg
            class="flex-shrink-0 w-5 h-5 text-polo-blue-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span>Elección mensual de una inteligencia artificial principal.</span>
        </li>
      </ul>
      <a
        href="#"
        class="text-white bg-polo-blue-950 hover:bg-polo-blue-900 focus:ring-2 focus:ring-polo-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >Empieza</a
      >
    </div>
    <!-- Pricing Card -->
    <div
      class="flex flex-col justify-between flex-grow p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow xl:p-8"
    >
      <h3 class="mb-4 text-2xl text-polo-blue-950 font-semibold">
        Premium Plan
      </h3>
      <p class="font-light text-gray-500 sm:text-lg">
        Acceso ilimitado, respuestas rápidas y personalización detallada.
      </p>
      <div class="flex justify-center items-baseline my-8">
        <span class="mr-2 text-5xl text-polo-blue-950 font-extrabold"
          >24,95€</span
        >
        <span class="text-polo-blue-800">/mes</span>
      </div>
      <!-- List -->
      <ul role="list" class="mb-8 space-y-4 text-left">
        <li class="flex items-center space-x-3">
          <!-- Icon -->
          <svg
            class="flex-shrink-0 w-5 h-5 text-polo-blue-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span>Todas las características del Plan Básico.</span>
        </li>
        <li class="flex items-center space-x-3">
          <!-- Icon -->
          <svg
            class="flex-shrink-0 w-5 h-5 text-polo-blue-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span>Acceso ilimitado a todas las inteligencias artificiales.</span>
        </li>
        <li class="flex items-center space-x-3">
          <!-- Icon -->
          <svg
            class="flex-shrink-0 w-5 h-5 text-polo-blue-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span>Respuestas prioritarias con tiempos de espera reducidos.</span>
        </li>
        <li class="flex items-center space-x-3">
          <!-- Icon -->
          <svg
            class="flex-shrink-0 w-5 h-5 text-polo-blue-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span>Personalización avanzada de la experiencia.</span>
        </li>
      </ul>
      <a
        href="#"
        class="text-white bg-polo-blue-950 hover:bg-polo-blue-900 focus:ring-2 focus:ring-polo-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >Empieza</a
      >
    </div>
    <!-- Pricing Card -->
    <div
      class="flex flex-col justify-between flex-grow p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow xl:p-8"
    >
      <h3 class="mb-4 text-2xl text-polo-blue-950 font-semibold">
        Business Plan
      </h3>
      <p class="font-light text-gray-500 sm:text-lg">
        Soporte premium, integración y funciones avanzadas.
      </p>
      <div class="flex justify-center items-baseline my-8">
        <span class="mr-2 text-5xl text-polo-blue-950 font-extrabold"
          >34,95€</span
        >
        <span class="text-polo-blue-800">/mes</span>
      </div>
      <!-- List -->
      <ul role="list" class="mb-8 space-y-4 text-left">
        <li class="flex items-center space-x-3">
          <!-- Icon -->
          <svg
            class="flex-shrink-0 w-5 h-5 text-polo-blue-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span>Beneficios del Plan Premium incluidos.</span>
        </li>
        <li class="flex items-center space-x-3">
          <!-- Icon -->
          <svg
            class="flex-shrink-0 w-5 h-5 text-polo-blue-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span>Soporte exclusivo para preguntas complejas y proyectos extensos.</span
          >
        </li>
        <li class="flex items-center space-x-3">
          <!-- Icon -->
          <svg
            class="flex-shrink-0 w-5 h-5 text-polo-blue-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span>Integración con herramientas empresariales y plataformas externas.</span>
        </li>
        <li class="flex items-center space-x-3">
          <!-- Icon -->
          <svg
            class="flex-shrink-0 w-5 h-5 text-polo-blue-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span>Actualizaciones prioritarias y funciones de vanguardia.</span>
        </li>
      </ul>
      <a
        href="#"
        class="text-white bg-polo-blue-950 hover:bg-polo-blue-900 focus:ring-2 focus:ring-polo-blue-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        >Empieza</a
      >
    </div>
  </div>
</div>
